<div id="body_div">

  <div class="authoriation_panel">

   <div class="form">

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          #exampleinputemail1>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" #exampleinputpassword1>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>

      <div>{{errorMess}}</div>
      
      <div class="btn_group">

        <div>
          <button type="button" class="btn btn-success"
            (click)="login(exampleinputemail1.value,exampleinputpassword1.value)">Authorization</button>
        </div>
        
        <div>
          <small class="form-text text-muted">If you not have accoun in our system, push to Registration please</small>
        </div>
        
        <div>
          <button type="button" class="btn btn-primary" (click)="reg()">Registration</button>
        </div>

      </div>

      <div class="area">G i ena_Coders</div>
    </div>
    
  </div>
  
  
</div>


