*{
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  min-height: 200%;
  max-height: 200%;
  overflow: hidden;
}


#body_div{
  position: absolute; 
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  background-image: url('../../../img/rustic-brick-wall-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.authoriation_panel{
  margin: 10% 0 0 0;
  display: flex;
  width: 500px;
  height: 400px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(161, 173, 185);
  box-shadow: rgba(0, 0, 0, 0.700) 15px 12px 20px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
   transition: all 1s ease;

  .form{
      margin: 8% 0 0 0;

      @import url(https://fonts.googleapis.com/css?family=Open+Sans);

      .area {
        
        margin: 48px 0 0 0;
        text-align: right;
        font-size:15px;
        color: rgb(255, 255, 255);
        letter-spacing: -1px;
        font-weight: 300;
        text-transform: uppercase;
        animation: blur 3s ease-out infinite;
        text-shadow: 0px 0px 3px #fff, 0px 0px 5px #fff;
      }
      
      @keyframes blur {
        from {
          text-shadow:
          0px 0px 4px #fcd1d1,
          0px 0px 8px #fcd1d1, 
          0px 0px 23px #fcd1d1,
          0px 0px 22px #ffa5a5,
          0px 0px 22px #ffa5a5,
          0px 0px 22px #ffa5a5,
          0px 0px 22px #ffa5a5,
          0px 0px 22px #ff8b8b,
          0px 0px 47px #fff,
          0px 0px 47px #fff,
          0px 0px 47px #7B96B8,
          0px 0px 147px #7B96B8,
          0px 10px 97px #7B96B8,
          0px 10px 97px #7B96B8,
          0px 10px 97px #7B96B8,
          0px 10px 97px #7B96B8,
          0px -12px 97px #5f8cc4,
          0px -12px 97px #5f8cc4;
        }
      }

  }

  input{
      height: 32px;
      box-shadow: rgba(0, 0, 0, 0.700) 5px 3px 10px;
      padding: 0 0 0 5px;
  }

  input:hover{
      box-shadow: rgba(0, 0, 0, 0.700) 2px 1px 5px;
  }


}

.authoriation_panel:hover{
  box-shadow: rgb(253, 253, 253) 0px 0px 90px;
  -webkit-box-shadow: 0 0 120px rgb(255, 255, 255), inset 0 0 60px rgba(255, 255, 255, 0.808);
  -moz-box-shadow: 0 0 120px rgb(255, 255, 255), inset 0 0 60px rgb(255, 255, 255, 0.808);
  box-shadow: 0 0 120px rgb(255, 255, 255), inset 0 0 60px rgb(255, 255, 255, 0.808);
  transform: scale(1);
}

.form-check{

  margin: 8px 0 0 0;
  input{
      height: 15px;
      width: 15px;
      margin: 5px 8px 0 15px;
  }
}

.btn_group{
  width: 100%;
  text-align: center;

  div{
      margin: 10px 0 0 0;
  }

  button{
      width: 200px;
      height: 32px;
      box-shadow: rgba(0, 0, 0, 0.700) 5px 3px 10px;
  }

  button:hover{
      box-shadow: rgba(0, 0, 0, 0.700) 2px 1px 5px;
  }

}
