<div id="body_div">

  <!--start head panel-->
  <div class="logo_block">

    <div class="area">G i ena_Code_Dev</div>
    <div class="logout_links">

      <div>
        <button class="btn btn-info" (click)="loguot()">Log Out</button>
      </div>

      <div>
        <label for="*">This for user links</label>
        <div>
          <small>*click for copy your link</small>
        </div>
      </div>

    </div>

  </div>
  <!--end head panel-->


  <!--start body panel-->

  <div class="central_content">
    <div class="authoriation_panel container">
      <div class="row">
        <div class="panel_photo col-xs col-sm col-md">

          <div class="photo_user col-xs col-sm col-md">
            <img src="{{returnImg}}" alt="">
          </div>

          <div class="input_img col-xs col-sm col-md">
            <ngx-dropzone (change)="onSelect($event)" [multiple]="false" [expandable]="false" [maxFileSize]="1000000"
              accept="image/jpeg,image/jpg,image/png" class="form-control fotoPanel">
              <ngx-dropzone-label>Drop it, photo!</ngx-dropzone-label>

              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" class="nameFoto">

                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>

              </ngx-dropzone-preview>

            </ngx-dropzone>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="central_content">

    <div class="authoriation_panel container">
      <label for="*" class="head_text">General info</label>
      <div class="row">
        <div class="panel_input col-xs col-sm col-md">
          <div>
            <label for="F_L_name">Full name*</label>
          </div>
          <div>
            <input id="F_L_name" type="text" class="form-control" aria-describedby="emailHelp"
              [(ngModel)]="user.full_name" (ngModelChange)="checkValidation('F_L_name',user.full_name)" />
          </div>
        </div>

        <div class="panel_input col-xs col-sm col-md">
          <div>
            <label for="email">Email*</label>
          </div>
          <div>
            <input id="email" type="email" class="form-control" placeholder="example@email.com"
              [(ngModel)]="user.email" (ngModelChange)="checkValidation('email',user.email)"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel_input col-xs col-sm col-md">
          <div>
            <label for="phone">Phone number*</label>
          </div>
          <div>
            <input id="phone" type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{3}"
              maxlength="12" placeholder="380XXXXXXXXXX" [(ngModel)]="user.phone" (ngModelChange)="checkValidation('phone',user.phone)"/>
          </div>
        </div>

        <div class="panel_input col-xs col-sm col-md">
          <div>
            <label for="PredententDolzh">Career objective</label>
          </div>
          <div>
            <input id="PredententDolzh" type="text" class="form-control" aria-describedby="emailHelp"
              [(ngModel)]="user.position">
          </div>
        </div>
      </div>
      <div class="errorMess">{{errorMess}}</div>
    </div>
  </div>


  <div class="central_content">
    <div class="authoriation_panel">
      <label for="*" class="head_text">Links social page</label>
      <div class="panel_input">
        <app-link [user]="user" [basket]="basket"></app-link>
      </div>
    </div>
  </div>


  <div class="central_content">
    <div class="authoriation_panel">
      <label for="*" class="head_text">Jobs</label>
      <div class="panel_input">
        <app-job [user]="user" [basket]="basket"></app-job>
      </div>
    </div>
  </div>


  <div class="central_content">
    <div class="authoriation_panel">
      <label for="*" class="head_text">Education</label>
      <div class="panel_input">
        <app-education [user]="user" [basket]="basket"></app-education>
      </div>
    </div>
  </div>
  <div class="button_Save">
    <button type="button" class="btn btn-primary" (click)="saveUser()">Save</button>
  </div>

  <!--end body panel-->


  <!--start bottom panel-->
  <div class="footer_content">
    <h6>Developers</h6>
    <div class="developers">
      <div>
        <h6>cminskii5@gmail.com</h6>
        <h6>makskoz81@gmail.com</h6>
      </div>
      <div>
        <h6>onufk1989@gmail.com</h6>
        <h6>artyr4ik11@gmail.com</h6>
      </div>
    </div>
  </div>
  <!--end bottom panel-->
</div>
