*{
  margin: 0;
  padding: 0;
}
//start head panel
#body_div{
  position: absolute; 
  width: 100%;
  height:auto;
  background-image: url('../../../img/rustic-brick-wall-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:100%;
  
}

.logo_block{
  width: 100%;
  height: 50px;
  
 
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    .area {
      
      margin: 3px 5px 0 0;
      text-align: right;
      font-size:15px;
      color: rgb(255, 255, 255);
      letter-spacing: -1px;
      font-weight: 300;
      text-transform: uppercase;
      animation: blur 3s ease-out infinite;
      text-shadow: 0px 0px 3px #fff, 0px 0px 5px #fff;
    }
    
    @keyframes blur {
      from {
        text-shadow:
        0px 0px 4px #fcd1d1,
        0px 0px 8px #fcd1d1, 
        0px 0px 23px #fcd1d1,
        0px 0px 22px #ffa5a5,
        0px 0px 22px #ffa5a5,
        0px 0px 22px #ffa5a5,
        0px 0px 22px #ffa5a5,
        0px 0px 22px #ff8b8b,
        0px 0px 47px #fff,
        0px 0px 47px #fff,
        0px 0px 47px #7B96B8,
        0px 0px 147px #7B96B8,
        0px 10px 97px #7B96B8,
        0px 10px 97px #7B96B8,
        0px 10px 97px #7B96B8,
        0px 10px 97px #7B96B8,
        0px -12px 97px #5f8cc4,
        0px -12px 97px #5f8cc4;
      }
    }

}
//end head panel


//start body panel
.central_content{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}

.authoriation_panel{
  margin: 5% 0 10% 0;
  width: 700px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #a1adb9;
  box-shadow: rgba(0, 0, 0, 0.700) 15px 12px 20px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.photo_user{
  img{
    width: 80px;
    height: 90px;
  }
}


.panel_input{
  margin: 5% 0 8% 0;
  padding: 0 0 0 20%;
  width: 80%;
}

input{
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.700) 5px 3px 10px;
  padding: 0 0 0 5px;
}


input:hover{
  box-shadow: rgba(0, 0, 0, 0.700) 2px 1px 5px;
}

.authoriation_panel:hover{
  box-shadow: rgb(253, 253, 253) 0px 0px 90px;
  -webkit-box-shadow: 0 0 120px rgb(255, 255, 255), inset 0 0 60px rgba(255, 255, 255, 0.808);
  -moz-box-shadow: 0 0 120px rgb(255, 255, 255), inset 0 0 60px rgb(255, 255, 255, 0.808);
  box-shadow: 0 0 120px rgb(255, 255, 255), inset 0 0 60px rgb(255, 255, 255, 0.808);
  transform: scale(1);
}

.btn_group{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;

  button{
    width: 200px;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.700) 5px 3px 10px;
  }

  button:hover{
    box-shadow: rgba(0, 0, 0, 0.700) 2px 1px 5px;
  }
}

.skyline{
  width: 100%;
  height: 30px;
  padding: 20px 0 10 0;
  border-bottom: 5px solid rgba(0,0,0,1);
}
//end body panel


//start bottom panel
.footer_content{
  text-align: center;
  width: 100%;
  height: 78px;
  background-color: rgb(68, 63, 63);
  
  h6{
    justify-content: center;
  }
  h6:hover{
    color: white;
  }
  .developers{
    display: flex;
    justify-content: space-around;
  }
}
//end bottom panel





