<div id="body_div">

 
  <div class="authoriation_panel">
    <div class="form">
          <div >
            <label for="exampleInputEmail1">Login*</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Must not contain the following characters * /., + - =</small>
          </div>

          <div >
            <label for="exampleInputPassword1">Password*</label>
            <input type="password" class="form-control" id="exampleInputPassword1"/>
          </div>

          <div >
            <label for="exampleInputPassword1">Confirm password*</label>
            <input type="password" class="form-control" id="exampleInputPassword2"/>
          </div>

          <div >
            <label for="exampleInputPassword1">Firs and Last Name*</label>
            <input type="text" class="form-control"/>
          </div>

          <div >
            <label for="exampleInputPassword1">Your phone number*</label>
            <input type="tel" class="form-control" placeholder="38066-00-00-000"/>
          </div>

          <div>
            <label for="exampleInputPassword1">Your email adress*</label>
            <input type="email" class="form-control" placeholder="example@email.com"/>
          </div>

          <div >
            <label for="exampleInputPassword1">Your Education</label>
            <input type="text" class="form-control"/>
          </div>

          <div >
            <label for="exampleInputPassword1">List of jobs</label>
            <input type="text" class="form-control"/>
          </div>

          <div >
            <label for="exampleInputPassword1">Start</label>
            <input type="date" class="form-control"/>
            <label for="exampleInputPassword1">End</label>
            <input type="date" class="form-control"/>
          </div>

          <div >
            <label for="exampleInputPassword1">List of your project GitHub/BitBucket</label>
            <input type="text" class="form-control"/>
          </div>

          <div class="form-group form-check">
            <div>
              <div>
                <input type="checkbox" class="form-check-input" id="technologyCheck1">
                <label class="form-check-label" for="technologyCheck1">C++</label>
              </div>
              <div>
                <input type="checkbox" class="form-check-input" id="technologyCheck2">
                <label class="form-check-label" for="technologyCheck2">C#</label>
              </div>
              <div>
                <input type="checkbox" class="form-check-input" id="technologyCheck3">
                <label class="form-check-label" for="technologyCheck3">js</label>
              </div>
            </div>

           <div>
            <div>
              <input type="checkbox" class="form-check-input" id="technologyCheck4">
              <label class="form-check-label" for="technologyCheck4">HTML</label>
            </div>
            <div>
              <input type="checkbox" class="form-check-input" id="technologyCheck5">
              <label class="form-check-label" for="technologyCheck5">css</label>
            </div>
            <div>
              <input type="checkbox" class="form-check-input" id="technologyCheck6">
              <label class="form-check-label" for="technologyCheck6">scss/sass</label>
            </div>
           </div>
           
           <div>
            <div>
              <input type="checkbox" class="form-check-input" id="technologyCheck7">
              <label class="form-check-label" for="technologyCheck7">Angular</label>
            </div>
            <div>
              <input type="checkbox" class="form-check-input" id="technologyCheck8">
              <label class="form-check-label" for="technologyCheck8">React</label>
            </div>
            <div>
              <input type="checkbox" class="form-check-input" id="technologyCheck9">
              <label class="form-check-label" for="technologyCheck9">NODE</label>
            </div>
           </div>

           <div>
            <div>
              <input type="checkbox" class="form-check-input" id="technologyCheck10">
              <label class="form-check-label" for="technologyCheck10">PHP</label>
            </div>
            <div>
              <input type="checkbox" class="form-check-input" id="technologyCheck11">
              <label class="form-check-label" for="technologyCheck11">Phyton</label>
            </div>
            <div>
              <input type="checkbox" class="form-check-input" id="technologyCheck12">
              <label class="form-check-label" for="technologyCheck12">Ruby</label>
            </div>
           </div>
          </div>

          <div >
            <label for="exampleInputPassword1">your variant skill to programing</label>
            <input type="text" class="form-control"/>
          </div>
          <div class="btn_group">

            <div>
              <button type="button" class="btn btn-primary">Registration</button>
            </div>

          </div>
  
    </div>
    
  </div>
  
</div>


