*{
    margin: 0;
    padding: 0;
  }
  
  
  #body_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(99, 108, 117);
  }
  
  .authoriation_panel{
    margin: 5% 0 5% 0;
    display: flex;
    width: 700px;
   
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(161, 173, 185);
    box-shadow: rgba(0, 0, 0, 0.700) 15px 12px 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
     -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
     transition: all 1s ease;
    .form{
        margin: 8% 0 8% 0;

        @import url(https://fonts.googleapis.com/css?family=Open+Sans);

        .area {
          margin: 48px 0 0 0;
          text-align: right;
          font-size:15px;
          color: rgb(255, 255, 255);
          letter-spacing: -1px;
          font-weight: 300;
          text-transform: uppercase;
          animation: blur 2s ease-out infinite;
          text-shadow: 0px 0px 3px #fff, 0px 0px 5px #fff;
        }
    
        @keyframes blur {
          from {
            text-shadow:0px 0px 5px #fff,
            0px 0px 10px #fff, 
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #7B96B8,
            0px 0px 150px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px -10px 100px #7B96B8,
            0px -10px 100px #7B96B8;
          }
        }
    }
  
    input{
        height: 32px;
        box-shadow: rgba(0, 0, 0, 0.700) 5px 3px 10px;
        padding: 0 0 0 5px;
    }
  
    input:hover{
        box-shadow: rgba(0, 0, 0, 0.700) 2px 1px 5px;
    }
  
  
  }
  
  .authoriation_panel:hover{
    box-shadow: rgb(253, 253, 253) 0px 0px 90px;
    -webkit-box-shadow: 0 0 120px rgb(255, 255, 255), inset 0 0 60px rgba(255, 255, 255, 0.808);
    -moz-box-shadow: 0 0 120px rgb(255, 255, 255), inset 0 0 60px rgb(255, 255, 255, 0.808);
    box-shadow: 0 0 120px rgb(255, 255, 255), inset 0 0 60px rgb(255, 255, 255, 0.808);
    transform: scale(1);
  }
  
  .form-check{
    display: flex;
  justify-content: space-around;
    margin: 8px 0 0 0;
    input{
        height: 15px;
        width: 15px;
        margin: 5px 8px 0 15px;
    }
  }
  
  

  .btn_group{
    width: 100%;
    text-align: center;
  
    div{
        margin: 10px 0 0 0;
    }
  
    button{
        width: 200px;
        height: 32px;
        box-shadow: rgba(0, 0, 0, 0.700) 5px 3px 10px;
    }
  
    button:hover{
        box-shadow: rgba(0, 0, 0, 0.700) 2px 1px 5px;
    }
  
  }
  


