<div class="container" *ngFor="let item of user.education">

  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="education">Education</label>
      </div>
      <div>
        <input type="text" [(ngModel)]="item.name" class="form-control"/>
      </div>
    </div>

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="specialization">Specialization</label>
      </div>
      <div>
        <input type="text" [(ngModel)]="item.specialization" class="form-control"/>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="start_studies">start of studies</label>
      </div>
      <div>
        <input type="date" [(ngModel)]="item.from_year" class="form-control"/>
      </div>
    </div>

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="end_studies">end of studies</label>
      </div>
      <div>
        <input type="date" [(ngModel)]="item.to_year" class="form-control"/>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="about_educ">About your education</label>
      </div>
      <div>
        <textarea cols="80" rows="3" [(ngModel)]="item.about" class="form-control"></textarea>
      </div>
    </div>
    <div class="btnDiv">
      <button type="button" (click)="deleteEducation(item)" value="DELETE" class="btn btn-danger">DELETE</button>
    </div>
  </div>

</div>
<!---------------------------------------->
<div class="container">

  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="education">Education</label>
      </div>
      <div>
        <input type="text" [(ngModel)]="name" class="form-control"/>
      </div>
    </div>

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="specialization">Specialization</label>
      </div>
      <div>
        <input type="text" [(ngModel)]="specialization" class="form-control"/>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="start_studies">start of studies</label>
      </div>
      <div>
        <input type="date" [(ngModel)]="from_year" class="form-control"/>
      </div>
    </div>

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="end_studies">end of studies</label>
      </div>
      <div>
        <input type="date" [(ngModel)]="to_year" class="form-control"/>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="about_educ">About your education</label>
      </div>
      <div>
        <textarea cols="80" rows="3" [(ngModel)]="about" class="form-control"></textarea>
      </div>
    </div>
    <div class="btnDiv">
      <button type="button" (click)="addEducation()" value="ADD" class="btn btn-success">ADD</button>
    </div>
    <div>{{errorMess}}</div>

  </div>
</div>
