<div *ngFor="let item of user.jobs">
  <input type="text" [(ngModel)]="item.job" />
  <input type="text" [(ngModel)]="item.work_status" />
  <input type="date" [(ngModel)]="item.from_year" />
  <input type="date" [(ngModel)]="item.to_year" />
  <input type="text" [(ngModel)]="item.about" />
  <input type="button" (click)="deleteJob(item)" value="DELETE" />
</div>
<div>
  <input type="text" [(ngModel)]="job" />
  <input type="text" [(ngModel)]="work_status" />
  <input type="date" [(ngModel)]="from_year" />
  <input type="date" [(ngModel)]="to_year" />
  <input type="text" [(ngModel)]="about" />
  <input type="button" (click)="addJob()" value="ADD" />
  <div>{{errorMess}}</div>
</div>
