<div class="container" *ngFor="let item of user.jobs">

  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="last_jobe">Last job place</label>
      </div>
      <div>
        <input id="{{item.id}}_jobs_job" type="text" [(ngModel)]="item.job" class="form-control"
          (ngModelChange)="checkValidation(item.id+'_jobs_job',item.job)" />
      </div>
    </div>

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="position">Position</label>
      </div>
      <div>
        <input id="{{item.id}}_jobs_work_status" type="text" [(ngModel)]="item.work_status" class="form-control"
          (ngModelChange)="checkValidation(item.id+'_jobs_work_status',item.work_status)" />
      </div>
    </div>

  </div>


  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="start_work">Start work</label>
      </div>
      <div>
        <input id="{{item.id}}_jobs_from_year" type="date" [(ngModel)]="item.from_year" class="form-control"
          (ngModelChange)="checkFromDate(item.id+'_jobs_from_year',item.from_year,item.to_year)" />
      </div>
    </div>

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="end_work">End work</label>
      </div>
      <div>
        <input id="{{item.id}}_jobs_to_year" type="date" [(ngModel)]="item.to_year" class="form-control"
          (ngModelChange)="checkToDate(item.id+'_jobs_to_year',item.from_year,item.to_year)" />
      </div>
    </div>

  </div>


  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="about_work">About your work</label>
      </div>
      <div>
        <textarea cols="80" rows="3" [(ngModel)]="item.about" class="form-control"></textarea>
      </div>
    </div>
    <div class="btnDiv">
      <button type="button" (click)="deleteJob(item)" value="DELETE" class="btn btn-danger">DELETE</button>
    </div>
  </div>

</div>
<!---------------------------------------------->

<div class="container">

  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="last_jobe">Last job place</label>
      </div>
      <div>
        <input type="text" [(ngModel)]="job" class="form-control" />
      </div>
    </div>

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="position">Position</label>
      </div>
      <div>
        <input type="text" [(ngModel)]="work_status" class="form-control" />
      </div>
    </div>

  </div>


  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="start_work">Start work</label>
      </div>
      <div>
        <input type="date" [(ngModel)]="from_year" class="form-control" />
      </div>
    </div>

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="end_work">End work</label>
      </div>
      <div>
        <input type="date" [(ngModel)]="to_year" class="form-control" />
      </div>
    </div>

  </div>


  <div class="row">

    <div class="panel_input col-xs col-sm col-md">
      <div>
        <label for="about_work">About your work</label>
      </div>
      <div>
        <textarea cols="80" rows="3" [(ngModel)]="about" class="form-control"></textarea>
      </div>
    </div>
    <div class="errorMess">{{errorMess}}</div>
    <div class="btnDiv">
      <button type="button" (click)="addJob()" value="ADD" class="btn btn-success">ADD</button>
    </div>
  </div>
</div>
