<div class="body">

  <div class="A4list container">

    <div class="row">
      <div class="photo_block">
        <img src="http://placehold.it/250x250/88cc00.gif" />
      </div>

      <div class="user_information">
        <div >
            <div>
                <h1 class="user_name">User Name</h1>
            </div>
    
            <div>
                <h3 class="career_objective">Career objective</h3>
            </div>
    
            <div>
                <h3 class="email">example@sobaca.com</h3>
            </div>
    
            <div>
                <h3 class="phone">+380xxxxxxxxx</h3>
            </div>
            
            <div class="links_block">
                <div>
                    <h4 class="name_links">twitter:</h4>
                </div>
    
                <div>
                    <h4 class="links">twitter.com/ololo</h4>
                </div> 
            </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <!-----start area write education info------>
      <div class="education col-xs col-sm col-md">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
            <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
          </svg>
        </div>

        <div class="info">
          <!----foreach when array is null----->
          <div class="container" *ngFor="let item of user.education">

            <div class="row">
          
              <div class="panel_input col-xs col-sm col-md">
                <div>
                  <label for="*">Education</label>
                  <label for="*">education</label>
               </div>
               <div>
                  <label for="*">Specialization</label>
                  <label for="*">specialization</label>
               </div>
               <div>
                  <label for="*">Start of studies</label>
                  <label for="*">start</label>
               </div>
               <div>
                  <label for="*">End of studies</label>
                  <label for="*">end</label>
               </div>
               <div>
                  <label for="*">About your education</label>
                  <label for="*">about</label>
               </div>
              </div>

            </div>
   
          </div>

          <!----------foreach when array is not null------------------->
          <div class="container">
          
            <div class="row">
          
              <div class="panel_input col-xs col-sm col-md">
                <div>
                  <label for="*">Education: </label>
                  <label for="*">education</label>
                </div>
                <div>
                  <label for="*">Specialization: </label>
                  <label for="*">specialization</label>
                </div>
                <div>
                  <label for="*">Start of studies: </label>
                  <label for="*">start</label>
                </div>
                <div>
                  <label for="*">End of studies: </label>
                  <label for="*">end</label>
                </div>
                <div>
                  <label for="*">About your education: </label>
                  <label for="*">about</label>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!------end area write education info------->

      <!-----start area write jobe info--------->
      <div class="jobs col-xs col-sm col-md">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
          </svg>
        </div>

        <div class="info">
          <!----foreach when array is null----->
          <div class="container" *ngFor="let item of user.jobs">
            <div class="row">
              <div class="panel_input col-xs col-sm col-md">
                <div>
                  <label for="last_jobe">Last job place:</label>
                  <label for="*">lastJobe</label>
                </div>
                <div>
                  <label for="position">Position</label>
                  <label for="*">position</label>
                </div>
                <div>
                  <label for="start_work">Start work</label>
                  <label for="*">start_work</label>
                </div>
                <div>
                  <label for="end_work">End work</label>
                  <label for="*">end_work</label>
                </div>
                <div>
                  <label for="about_work">About your work</label>
                  <label for="*">about</label>  
                </div>
              </div>
            </div>
          </div>
          <!---------------------------------------->
          <!----------foreach when array is not null------------------->
          <div class="container">
                        
            <div class="row">          
              <div class="panel_input col-xs col-sm col-md">
                <div>
                  <label for="*">Last job place:</label>
                  <label for="*">Last job</label>
                </div>
                <div>
                  <label for="*">Position:</label>
                  <label for="*">positionИдуфе</label>
                </div>
                <div>
                  <label for="*">Start work:</label>
                  <label for="*">start_work</label>
                </div>
                <div>
                  <label for="*">End work:</label>
                  <label for="*"> end_work</label>
                </div>
              </div>
            </div>
          </div> 

        </div>

      </div>
      <!-----end area write jobe info----------->
    </div>

</div>

</div>

