*{
    margin: 0;
    padding: 0;
}

.background_threme1{
    
    width: 500px;
    height: 500px;
    z-index: 0;
    transform: rotate(60deg);
    -moz-transform: rotate(60deg); 
    -ms-transform: rotate(60deg); 
    -webkit-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    background-color: #a9a9a9;
    filter: drop-shadow(0 0 5px #000); 
}

.background_threme2{
   
    width: 500px;
    height: 500px;
    z-index: 1;
    transform: rotate(30deg);
    -moz-transform: rotate(30deg); 
    -ms-transform: rotate(30deg); 
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    background-color: #e7e5e5;
    filter: drop-shadow(0 0 5px #000); 
}

.background_threme3{
    
    width: 500px;
    height: 500px;
    z-index: 2;
    transform: rotate(5deg);
    -moz-transform: rotate(5deg); 
    -ms-transform: rotate(5deg); 
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    background-color: #7c7c7c;
    filter: drop-shadow(0 0 5px #000); 
}

.A4list{
    width: 80%;
    min-width: 480px;
    top: 0;
    left: 0;
    margin: 5% 0 0 15%;
    position: absolute;
    background-color: white;
    border-left: solid 1px silver;
   border-bottom: silver solid 1px;
   filter: drop-shadow(0 0 5px #000); 
    
    .photo_block{
        width: 250px;
        height: 250px;
        float: right;
        margin: 20px 20px 0 0;
        
        img{
            border-radius: 150px;
        }
    }

    .user_information{
        float: left;
       
        width: 70%;
        margin: 70px 0 80px 20px;

        .links_block{
            display: flex;
            div{
                margin: 0 10px;
            }
        }
        h1{
            margin: 0 0 10px 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        h3, h4{
            margin: 0 0 10px 40px;
            color: grey;
           font-family:  Arial, Helvetica, sans-serif;
        }
    }

    .all_information{
        
        width: 100%;
        border-top: #d4d4d4 solid 3px;

        .education_job{
            width: 100%;
            margin: 70px 0 0 0;
            border: black 2px solid;
            

            .education{
               
               width: 50%;
               border: black 2px solid;
                svg{
                    width: 30px;
                    height: 30px;
                    color: #7c7c7c; 
                 }
            }
            
            .job{
               
                width: 50%;
                border: black 2px solid;
                svg{
                   
                   width: 30px;
                   height: 30px;
                   color: #7c7c7c; 
                }
            }
        }
    }
}

